*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-left: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.col-2 {
    font-size: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.cart--list{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    
}
.card{
    width: 190px;
    color: var(--text-color);
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px 1rem;
    border-radius: 10px;
    background: var(--accent-color);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1)
}
.card img{
    width: 100%;
}
.card--price{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.card--price .price{
    color: var(--primary-color);
    font-weight: 600;
}
.add-to-cart {
    background: var(--primary-color);
    color: var(--accent-color);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}
.add-to-cart:hover{
    color: var(--accent-color);
    box-shadow: rgb(0 0 0 / 30%) 0px 4px 4px , rgb(231, 236, 236) 0px 0px 0px 3px;
}
.card{
    float: left;
    width: 200px;
    padding: 5px;
    margin-top: 50px;
    margin-left: 10px;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}